## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [47]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [48]:
# Your code here
sample_list_1 = random.sample(range(0,101), 80)
print(sample_list_1)

[74, 7, 89, 36, 17, 52, 95, 61, 88, 13, 20, 75, 22, 71, 80, 53, 27, 56, 18, 99, 41, 76, 32, 28, 0, 6, 11, 10, 87, 79, 73, 49, 44, 64, 78, 51, 40, 29, 1, 3, 33, 42, 62, 94, 70, 68, 12, 45, 67, 30, 58, 24, 50, 47, 4, 60, 100, 57, 65, 14, 9, 38, 35, 26, 91, 82, 55, 23, 72, 92, 5, 90, 63, 81, 97, 19, 83, 16, 93, 69]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [49]:
# Your code here
set1 = set(sample_list_1)
set1
#Yes, the length is still 80 because each value was unique.

{0,
 1,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 35,
 36,
 38,
 40,
 41,
 42,
 44,
 45,
 47,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 99,
 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [50]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[20, 34, 6, 41, 65, 52, 20, 83, 60, 45, 61, 21, 57, 54, 30, 6, 0, 76, 85, 88, 91, 62, 71, 74, 16, 55, 97, 63, 63, 37, 4, 47, 47, 90, 32, 94, 44, 77, 29, 59, 92, 47, 50, 27, 4, 68, 28, 92, 68, 32, 24, 23, 81, 84, 30, 8, 100, 45, 42, 64, 82, 22, 33, 90, 15, 53, 11, 76, 95, 70, 96, 76, 77, 23, 89, 76, 100, 67, 24, 80]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [51]:
# Your code here
set2 = set(sample_list_2)
len(set2)

#No it is not 80, we are left with only the unique elements.

61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [61]:
# Your code here
set3=[]
for i in set1:
    if i not in set2:
        set3.append(i)
set3=set(set3)
set3

{1,
 3,
 5,
 7,
 9,
 10,
 12,
 13,
 14,
 17,
 18,
 19,
 26,
 35,
 36,
 38,
 40,
 49,
 51,
 56,
 58,
 69,
 72,
 73,
 75,
 78,
 79,
 87,
 93,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [62]:
# Your code here
set4=[]
for i in set2:
    if i not in set1:
        set4.append(i)
set4=set(set4)
set4

{8, 15, 21, 34, 37, 54, 59, 77, 84, 85, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [63]:
# Your code here
set5=[]
for i in set1:
    if i in set2:
        set5.append(i)
set5=set(set5)
set5

{0,
 4,
 6,
 11,
 16,
 20,
 22,
 23,
 24,
 27,
 28,
 29,
 30,
 32,
 33,
 41,
 42,
 44,
 45,
 47,
 50,
 52,
 53,
 55,
 57,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 70,
 71,
 74,
 76,
 80,
 81,
 82,
 83,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 97,
 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [72]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#Length of set3+set5 is equal to set1.
print(len(set3)+len(set5) == len(set1))

#Length of set2-set4 is equal to set5.
print(len(set2)-len(set4) == len(set5))

80
61
30
11
50
True
True

#### Create an empty set called `set6`.

In [86]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [88]:
# Your code here
set6.update(set5)
set6.update(set3)
set6

{0,
 1,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 35,
 36,
 38,
 40,
 41,
 42,
 44,
 45,
 47,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 99,
 100}

#### Check if `set1` and `set6` are equal.

In [89]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [91]:
# Your code here
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [92]:
# Your code here
set.union(set3,set4,set5) == set.union(set1,set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [93]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [104]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{3, 4, 5, 6, 7, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 33, 35, 36, 38, 40, 42, 44, 45, 47, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 87, 88, 90, 92, 93, 94, 95, 97, 100}