# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [75]:
# Import your libraries:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.datasets import load_diabetes
from sklearn import datasets
print(sklearn.__version__)

1.2.1

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [25]:
# Your code here:
diabetes = datasets.load_diabetes(as_frame=True)

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [26]:
# Your code here:
print(list(diabetes))

['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module']

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [27]:
# Your code here:
print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [ ]:
# Enter your answer here:
# 1. How many attributes are there in the data? What do they mean?
print(diabetes['feature_names'])
'''
  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level
'''
# 2. What is the relation between `diabetes['data']` and `diabetes['target']`?
print(diabetes['data'])
print(diabetes['target'])
# 3. How many records are there in the data?
diabetes['data'].shape
# 442 rows and 10 columns.

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [33]:
# Your code here:
diabetes['data']
# data contains all the attributes such as [age,sex,bmi,bp,s1,s2....]
diabetes['target']
# target is the regression target (target variable).

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [34]:
# Your code here:
from sklearn.linear_model import LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [35]:
# Your code here:
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [66]:
# Your code here:
from sklearn.model_selection import train_test_split

DATA, target = datasets.load_diabetes(return_X_y=True, as_frame=True)

diabetes_DATA_train, diabetes_DATA_test, diabetes_target_train, diabetes_target_test = train_test_split(DATA, target, test_size=20/442, random_state=42)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [67]:
# Your code here:
diabetes_model = diabetes_model.fit(diabetes_DATA_train, diabetes_target_train)
print(diabetes_model.coef_)
print(diabetes_model.intercept_)

[   0.88135058 -260.26547413  536.46965804  335.9950993  -835.78537996
  465.75983085  136.20013901  245.06432031  712.32537762   64.48680278]
151.3820926783504

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [68]:
# Your code here:
diabetes_test_pred = diabetes_model.predict(diabetes_DATA_test)
diabetes_test_pred

array([141.94619731, 176.31674205, 134.53159785, 287.22526514,
       122.58042918,  96.46043898, 256.8468282 , 184.79870459,
        92.90893919, 111.3914492 ,  98.52709941, 166.01405738,
        58.45723061, 205.10018437, 100.72748232, 130.33505833,
       218.45993591, 245.87432278, 193.00193698, 214.38106404])

#### Print your `diabetes_target_test` and compare with the prediction.

In [69]:
# Your code here:
diabetes_target_test

287    219.0
211     70.0
72     202.0
321    230.0
73     111.0
418     84.0
367    242.0
354    272.0
281     94.0
148     96.0
429     94.0
78     252.0
126     99.0
113    297.0
329    135.0
427     67.0
172    295.0
268    264.0
76     170.0
116    275.0
Name: target, dtype: float64

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [70]:
# Your explanation here:
# Not at all. Because our model is not so good enough.

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../images/statsmodels.png)

In [71]:
# Your code here:
import statsmodels.api as sm
diabetes_DATA_train = sm.add_constant(diabetes_DATA_train)
model = sm.OLS(diabetes_target_train, diabetes_DATA_train).fit()

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [73]:
# Your answers here:
print(model.summary())

#1. What is the F-score of your linear model and is the null hypothesis rejected?
'''
F-statistic is 43.58
F-critical is 6.
Because F-statistic is higher than F-critical we reject the null hypothesis.
'''
#2. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?
'''
age, s2, s3, s4, s6
(If your confidence interval for a difference between groups includes zero, that means that if you run your experiment again you have a good chance of finding no difference between groups.)
'''
#3. How will you modify your linear regression model according to the test results above?
'''
We can exclude the attributes that has p-value below 0.05 percent.
'''

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.515
Model:                            OLS   Adj. R-squared:                  0.503
Method:                 Least Squares   F-statistic:                     43.58
Date:                Mon, 27 Feb 2023   Prob (F-statistic):           1.71e-58
Time:                        17:23:20   Log-Likelihood:                -2276.8
No. Observations:                 422   AIC:                             4576.
Df Residuals:                     411   BIC:                             4620.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        151.3821      2.631     57.528      0.000     146.209     156.555
age            0.8814     61.344      0.014      0.989    -119.706     121.468
sex         -260.2655     63.250     -4.115      0.000    -384.599    -135.932
bmi          536.4697     68.872      7.789      0.000     401.084     671.856
bp           335.9951     66.289      5.069      0.000     205.687     466.303
s1          -835.7854    422.981     -1.976      0.049   -1667.262      -4.309
s2           465.7598    343.262      1.357      0.176    -209.009    1140.529
s3           136.2001    215.265      0.633      0.527    -286.957     559.357
s4           245.0643    166.246      1.474      0.141     -81.735     571.863
s5           712.3254    174.432      4.084      0.000     369.436    1055.215
s6            64.4868     67.086      0.961      0.337     -67.387     196.361
==============================================================================
Omnibus:                        0.785   Durbin-Watson:                   1.851
Prob(Omnibus):                  0.675   Jarque-Bera (JB):                0.864
Skew:                           0.031   Prob(JB):                        0.649
Kurtosis:                       2.787   Cond. No.                         226.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [121]:
# Your code here:
auto = pd.read_csv("auto-mpg.csv")
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Look at the first 5 rows using the `head()` function:

In [122]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [123]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [124]:
# Your code here:
print(min(auto["model_year"]))
print(max(auto["model_year"]))

70
82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [125]:
# Your code here:
auto = auto.dropna(how='any')
auto.isnull().sum()
#Dropped missing values.

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [126]:
# Your code here:
auto.cylinders.value_counts()
# There are 5 possible cylinder options out there.

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [129]:
# Your code here:

auto.drop('car_name', axis=1, inplace=True)

X = auto.drop("mpg", axis=1)
y = auto["mpg"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

C:\Users\berka\AppData\Local\Temp\ipykernel_19524\762953074.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auto.drop('car_name', axis=1, inplace=True)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [130]:
# Your code here:
auto_model = LinearRegression()

auto_model=auto_model.fit(X_train, y_train)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../images/r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [141]:
# Your code here:
from sklearn.metrics import r2_score

y_pred = auto_model.predict(X_train)

def report_r2(y_train, y_pred):
    # Calculate R-squared value for train and test sets
    train_r2 = round(r2_score(y_train, y_pred),2)
    print('\nTrain R-squared:', train_r2)

report_r2(y_train, y_pred)

Train R-squared: 0.81

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [143]:
# Your code here:
y_test_pred = auto_model.predict(X_test)

report_r2(y_test, y_test_pred)

Train R-squared: 0.79

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [144]:
# Your code here:
X_train90, X_test90, y_train90, y_test90 = train_test_split(X, y, test_size=0.1, random_state=42)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [146]:
# Your code here:
auto_model90 = LinearRegression()

auto_model=auto_model.fit(X_train90, y_train90)

Compute the predicted values and r squared score for our new model and new sample data.

In [147]:
# Your code here:
y_pred90 = auto_model.predict(X_train90)

report_r2(y_train90, y_pred90)

Train R-squared: 0.8

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [149]:
# Your code here:
y_test_pred90 = auto_model.predict(X_test90)

report_r2(y_test90, y_test_pred90)

Train R-squared: 0.85

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [161]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [165]:
# Your code here:
from sklearn.feature_selection import RFE

# Feature selection with RFE
rfe = RFE(auto_model, n_features_to_select=3)

Fit the model and print the ranking

In [183]:
# Your code here:

# Feature selection with RFE
rfe.fit(X_train, y_train)

# Print the selected features and their ranking
print("Selected Features:")
for i in range(len(rfe.support_)):
    if rfe.support_[i]:
        print(X.columns[i])
        
print("Feature Ranking:")
print(rfe.ranking_)

auto_reduced=auto[["cylinders","acceleration","model_year","mpg"]]
auto_reduced

Selected Features:
cylinders
acceleration
model_year
Feature Ranking:
[1 4 3 2 1 1]

     cylinders  acceleration  model_year   mpg
0            8          12.0          70  18.0
1            8          11.5          70  15.0
2            8          11.0          70  18.0
3            8          12.0          70  16.0
4            8          10.5          70  17.0
..         ...           ...         ...   ...
393          4          15.6          82  27.0
394          4          24.6          82  44.0
395          4          11.6          82  32.0
396          4          18.6          82  28.0
397          4          19.4          82  31.0

[392 rows x 4 columns]

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [184]:
# Your code here:
def split_X_y(df, target_col):
    # Split dataframe into X and y
    X = df.drop(target_col, axis=1)
    y = df[target_col]

    return X, y

X, y = split_X_y(auto_reduced, "mpg")

X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X, y, test_size=0.2, random_state=42)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [193]:
# Your code here: 

# Create a linear regression object
auto_model_reduced = LinearRegression()
    
# Train the model using the training data
auto_model_reduced = auto_model_reduced.fit(X_train_reduced, y_train_reduced)

# Reduced models training prediction and R2.

y_train_reduced_pred = auto_model_reduced.predict(X_train_reduced)
print(report_r2(y_train_reduced, y_train_reduced_pred))

# Reduced models test prediction and R2.

y_test_reduced_pred = auto_model_reduced.predict(X_test_reduced)
print(report_r2(y_test_reduced, y_test_reduced_pred))

Train R-squared: 0.71
None

Train R-squared: 0.71
None

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.