# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [101]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [102]:
# Your code here:
df = pd.read_csv("Employees_advanced.csv")

Examine the `salaries` dataset using the `head` function below.

In [103]:
# Your code here:
df.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [104]:
# Your code here:
df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [105]:
# Your code here:
df.value_counts("Salary or Hourly")

Salary or Hourly
Salary    25161
Hourly     8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [106]:
# Your code here:
df2 = df.groupby(['Department'])["Name","Job Titles"].count()
df2

C:\Users\berka\AppData\Local\Temp\ipykernel_5764\3634638003.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2 = df.groupby(['Department'])["Name","Job Titles"].count()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [114]:
from scipy import stats

filtered_df = df[df['Hourly Rate'].notnull()]
filtered_df

mean = filtered_df['Hourly Rate'].mean()
standard_deviation = filtered_df['Hourly Rate'].std()
n=filtered_df['Hourly Rate'].count()
degrees_of_freedom=filtered_df['Hourly Rate'].count()-1
alpha = 0.05

tcritical = stats.t.ppf(1 - alpha / 2, degrees_of_freedom)
print(tcritical)

T= (mean-30) / (standard_deviation/np.sqrt(n))
print(T)

if abs(T) > tcritical:
    print("Reject the null hypothesis, the population mean is not equal to 120")
else:
    print("Fail to reject the null hypothesis, the population mean is equal to 120")

1.9602597859561675
20.6198057854942
Reject the null hypothesis, the population mean is not equal to 120

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [125]:
# Your code here:
df_police = df[df["Department"]=="POLICE"]

mean = df_police['Annual Salary'].mean()
standard_deviation = df_police['Annual Salary'].std()
n=df_police['Annual Salary'].count()
degrees_of_freedom=df_police['Annual Salary'].count()-1
alpha = 0.05

tcritical = stats.t.ppf(1 - alpha, degrees_of_freedom)
print(tcritical)

T= (mean-86000) / (standard_deviation/np.sqrt(n))
print(T)

if abs(T) > tcritical:
    print("Reject the null hypothesis, the population mean is not higher than the mean")
else:
    print("Fail to reject the null hypothesis")

1.6449673235204956
3.081997005712994
Reject the null hypothesis, the population mean is not higher than the mean

Using the `crosstab` function, find the department that has the most hourly workers.

In [151]:
# Your code here:
pd.crosstab(df.Department, columns="count_of_workers", values=df["Hourly Rate"], aggfunc='count').sort_values(by="count_of_workers", ascending=False).head(1)

col_0          count_of_workers
Department
STREETS & SAN              1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [158]:
# Your code here:
df_streets = df[df["Department"]=="STREETS & SAN"]

mean = df_streets['Hourly Rate'].mean()
standard_deviation = df_streets['Hourly Rate'].std()
n=df_streets['Hourly Rate'].count()
degrees_of_freedom=df_streets['Hourly Rate'].count()-1
alpha = 0.05

tcritical = stats.t.ppf(1 - alpha, degrees_of_freedom)
print(tcritical)

T= (mean-35) / (standard_deviation/np.sqrt(n))
print(T)

if abs(T) > tcritical:
    print("Reject the null hypothesis, the population mean is not higher than the mean")
else:
    print("Fail to reject the null hypothesis")

1.6456728276882662
-9.567447887848152
Reject the null hypothesis, the population mean is not higher than the mean

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [159]:
# USING THE CODE FROM THE COURSE
filtered_df = df[df['Hourly Rate'].notnull()]
filtered_df

sample_mean = np.mean(filtered_df['Hourly Rate'])
sample_std = np.std(filtered_df['Hourly Rate'], ddof=1)

# calculate the 95% confidence interval for the mean
alpha = 0.05
n = len(filtered_df['Hourly Rate'])
z = stats.norm.ppf(1 - alpha / 2)
lower, upper = sample_mean - z * sample_std / np.sqrt(n), sample_mean + z * sample_std / np.sqrt(n)
print(f"The 95% confidence interval for the mean is: [{lower:.2f}, {upper:.2f}]")

The 95% confidence interval for the mean is: [32.52, 33.05]

32.78855771628024

In [166]:
# WITH T INTERVAL
filtered_df = df[df['Hourly Rate'].notnull()]
filtered_df

sample_mean = np.mean(filtered_df['Hourly Rate'])
sample_std = np.std(filtered_df['Hourly Rate'], ddof=1)

# calculate the 95% confidence interval for the mean
alpha = 0.05
n = len(filtered_df['Hourly Rate'])
t_value = stats.t.ppf(1 - alpha / 2, n - 1)
lower, upper = stats.t.interval(alpha=1-alpha, df=n-1, loc=sample_mean, scale=sample_std/np.sqrt(n))
print(f"The 95% confidence interval for the mean is: [{lower:.2f}, {upper:.2f}]")

The 95% confidence interval for the mean is: [32.52, 33.05]

C:\Users\berka\AppData\Local\Temp\ipykernel_5764\2073546542.py:12: DeprecationWarning: Use of keyword argument 'alpha' for method 'interval' is deprecated and wil be removed in SciPy 1.11.0. Use first positional argument or keyword argument 'confidence' instead.
  lower, upper = stats.t.interval(alpha=1-alpha, df=n-1, loc=sample_mean, scale=sample_std/np.sqrt(n))

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [170]:
df_police

sample_mean = np.mean(df_police['Annual Salary'])
sample_std = np.std(df_police['Annual Salary'], ddof=1)

# calculate the 95% confidence interval for the mean
alpha = 0.05
n = len(df_police['Annual Salary'])
t_value = stats.t.ppf(1 - alpha / 2, n - 1)
lower, upper = stats.t.interval(alpha=1-alpha, df=n-1, loc=sample_mean, scale=sample_std/np.sqrt(n))
print(f"The 95% confidence interval for the mean is: [{lower:.2f}, {upper:.2f}]")

The 95% confidence interval for the mean is: [86177.17, 86795.66]

C:\Users\berka\AppData\Local\Temp\ipykernel_5764\3784057459.py:10: DeprecationWarning: Use of keyword argument 'alpha' for method 'interval' is deprecated and wil be removed in SciPy 1.11.0. Use first positional argument or keyword argument 'confidence' instead.
  lower, upper = stats.t.interval(alpha=1-alpha, df=n-1, loc=sample_mean, scale=sample_std/np.sqrt(n))

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [113]:
# Your code here: